.Set{
	width: 100%;
	height: 18.3rem;
	background: white;
	margin-top: 3rem;
	position: relative;
	margin-bottom: 0.5rem;
}
.span1{
position: relative;
top: 0.8rem;
font-size: 13px;
left: 0.7rem;
}
.h4{
	position: relative;
top: 0.8rem;
font-size: 13px;
}
.quan{
	width: 35%;
	margin-left: 1rem;
	margin-top: 1rem;
}
.chong{
	width: 100%;
	height: 18rem;
	margin-top: 3rem;
}
.bao{
	width: 30%;
	margin-right:7.5rem ;
	margin-top: 6rem;
}
.chong p{
	padding-top: 15rem;
	padding-left: 5.4rem;
	letter-spacing: 1px;
}
.nn{
	margin-top: 0.5rem;
}
.shang{
	width: 100%;
	height: 10rem;
	margin-top: 3rem;
}
.shang h3{
	text-align: center;
	padding-top: 2rem;
}
.shang p{
	text-align: center;
	padding-top: 1rem;
	font-size: 46px;
	color: #fa474a;
}
:root .ant-dropdown-trigger .anticon-down, :root .ant-dropdown-link .anticon-down{
font-size: 24px;
margin-left: 0.5rem;
 color: #858585;
}
.zhifubao{
	width: 100%;
	height: 5rem;
	background: white;
	display: flex;
}
.zhifubao-left{
  width: 20%;
  height: 5rem;
}
.zhifubao-middle{
	width: 70%;
	height: 5rem;

}
.ppp{
	margin-top: 1.2rem;
	font-size: 14px;
}
.ppp1{
	margin-top: 0.3rem;
		font-size: 11px;
}
.zhifubao-right{
	width: 10%;
	height: 5rem;
}
.zhifu{
	width: 60%;
	margin: 1rem;
}
.zhifu1{
	width: 60%;
	margin-top: 1.7rem;
	margin-left: 0.5rem;
}
.tui{
	margin-top: 0.5rem;
}
.zhi{
	width: 100%;
	height: 6rem;
	background: white;
	margin-top: 3rem;
}
.zhi-top{
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid #DDDDDD;
}
.zhi-bottom{
	width: 100%;
	height: 3rem;

}
.po{
	padding-top: 0.5rem;
	padding-left: 0.5rem;
}
.span-1{
	margin-left: 0.5rem;
	color: #fa474a;
	font-size: 22px;
}
.que{
	margin-top: 0.5rem;
}
.zhuce{
	width: 100%;
	background: white;
	height: 10rem;
	margin-top: 3rem;
}
.zhuce-top{
	width: 100%;
	height: 5rem;
	background: red;
}
.zhuce-bottom{
	width: 100%;
	height: 5rem;
	background: blue;
}
.shouji1 input{
	width: 90%;
	margin-left: 1rem;
	height: 2rem;
	margin-top: 1rem;
	box-shadow:0 0 5px #ddd;
	border: 1px solid #585858;
	background: none;
}
.mima1 input{
	width: 90%;
	margin-left: 1rem;
	height: 2rem;
	margin-top: 1rem;
	background: none;
	box-shadow:0 0 5px #ddd;
	border: 1px solid #585858;
}
.da1{
	margin-top: 3rem;
	width: 100%;
	height: 8rem;

}
.shouji1 ::placeholder{
	position: relative;
	left: -0.5rem;
}
.shouji1 p{
	margin-left: 1rem;
	font-size: 11px;
	color: #858585;
    padding-top: 0.5rem;
}
.mima1 ::placeholder{
	position: relative;
	left: -0.5rem;
}
.niuu{
	width: 95%;
	margin-left: 0.6rem;
	height: 2.3rem;
	border: none;
	background: #fa474a;
	color: white;
	font-size: 16px;
	letter-spacing: 2px;
	margin-top: 0.5rem;
	box-shadow:0 0 5px #fa474a;
}
.mima11 input{
	width: 94%;
	margin-left: 0.6rem;
	height: 2rem;
	margin-top: 1rem;
	background: none;
	box-shadow:0 0 5px #ddd;
	border: 1px solid #585858;
}
.ma input{
	width: 94%;
	margin-left: 0.6rem;
	height: 2rem;
	margin-top: 1rem;
	background: none;
	box-shadow:0 0 5px #ddd;
	border: 1px solid #585858;
}
.mima11{
	width: 100%;
	height: 4rem;
	margin-top: 3rem;
}
.mima11 ::placeholder{
	padding-left: 2.5rem;
}
.ii{
	width: 100%;
	height: 100%;
	background: white;
}
.yan p{
	font-size: 10px;
	margin-left: 0.7rem;
	margin-top: 0.5rem;
	color: #858585;
	letter-spacing: 1px;
}
.xianhe{
	width: 100%;
	height: 3rem;
	display: flex;
}
.xianhe-left{
	width: 45%;
	height: 3rem;
}
.xianhe-middle{
	width: 10%;
	height: 3rem;
	
}
.xianhe-middle p{
	margin-top: 0.8rem;
	margin-left: 0.4rem;
	color: #858585;
}
.xianhe-right{
	width: 45%;
	height: 3rem;
}
.xian-1{
	width: 90%;
	height: 1px;
	background: #858585;
	margin-top: 1.5rem;
	margin-left: 0.8rem;
}
.xian-2{
	width: 90%;
	height: 1px;
	background: #858585;
	margin-top: 1.5rem;
	margin-left: 0.2rem;
}
.bx{
	width: 100%;
	height: 4rem;
	display: flex;
}
.bx-1{
	width: 33.3%;
	height: 4rem;
}
.bx-2{
	width: 33.3%;
	height: 4rem;
}

.bx-3{
	width: 33.3%;
	height: 4rem;
}
.qq{
	width: 20%;
	margin-left: 3.8rem;
	margin-top: 0.7rem;
}
.qq1{
	width: 30%;
	margin-left: 2.8rem;
	margin-top: 0.5rem;
}
.ma{
	width: 100%;
	height: 8rem;
	margin-top: 3rem;
}
.ma p{
	font-size: 11px;
	margin-left: 0.8rem;
	padding-top: 0.8rem;
}
.po1{
	font-size: 11px;
	text-align: center;
	padding-top: 0.8rem;
	color: #858585;
}
.po1 span{
	color: #fa474a;
	letter-spacing: 1px;
}
.ma ::placeholder{
	padding-left: 2.5rem;
}
.dong{
	width: 90%;
	height: 9rem;
	margin-top: 4rem;
	background: #F1F1F1;
	margin-left: 0.7rem;
	font-size: 12px;
	padding-left: 1rem;
	padding-top: 1rem;
	letter-spacing: 1px;
	color: #858585;
}

.dong textarea{
	
	border: none;
	
}
.tupian{
	width: 100%;
	height: 3rem;
	margin-top: 1rem;
}
.tupian img{
	width: 30%;
	float: right;
	margin-right: 1.4rem;
}
.xiang{
	width: 100%;
	height: 7rem;
	margin-top: 4rem;

}
.xiang-top{
	width: 100%;
	height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xiang-bottom{
	width: 100%;
	height: 4rem;
}
.imgggg{
	width: 10%;
	margin-left: 1.2rem;
	margin-top: 0rem;
}
.xiang-top h5{
	margin-right: 6rem;
}
.xiang-top p{
	margin-right: 0.8rem;
	font-size: 10px;
	color: #858585;
}
.pk{
	font-size: 10px;
	color: #858585;
	margin-left: 4.2rem;
	padding-top: 0.5rem;
}
.pk1{
	font-size: 10px;
	color: #858585;
	margin-left: 4.2rem;
}
.boxxx{
	width: 100%;
	height: 20rem;
}
.boxxx-top{
	width: 100%;
	height: 10rem;
}
.boxxx-bottom{
	width: 100%;
	height: 10rem;
}
.urle{
	width: 75%;
	margin-left: 3.5rem;
}
.urlee{
	width: 40%;
	float: right;
	margin-right: 2.5rem;
	margin-top: 0.5rem;
}
.iconn{
	width: 100%;
	height: 2rem;
}
.xie{
	width: 60%;
	margin-top: 0.3rem;
	margin-left: 0.3em;
}
.bofang{
	width: 100%;
	height: 13rem;
	margin-top: 3rem;
}
.bofang img{
	width: 100%;
}
.one{
	width: 100%;
	height: 12rem;
	background: white;
	margin-top: -0.3rem;
}
.one-left{
	width: 100%;
	height: 6rem;
}
.one-left h4{
	padding: 1rem;
	font-size: 17.5px;
	color: #858585;
}.one-left p{
	
	color: #858585;
	font-size: 12px;
	width: 100%;
	height: 2rem;
	border-bottom: 1px solid #DDDDDD;
	padding-left: 1rem;
}
.one-middle{
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
    border-bottom: 1px solid #DDDDDD;

}

.one-right{
	width: 100%;
	height: 3rem;
}
.one-right p{
	color: #fa474a;
	font-size: 23px;
	padding: 0.5rem;
}
.xing{
	width: 10%;
	margin-right: 1rem;
}
.xing1{
	width: 20%;
	margin-left: 1rem;
}
.sp{
	margin-left: -4rem;
	color: #858585;
	font-size: 10px;
}
.sp1{
	margin-left: -1rem;
	color: #858585;
	font-size: 10px;
}
.jianjie{
	width: 100%;
	height: 14rem;
	background: white;
	margin-top: 0.5rem;
}
.jianjie-top{
	width: 100%;
	height: 2rem;
}
.jianjie-top h3{
	padding: 0.2rem;
	padding-left: 0.5rem;
	color: #858585;
}
.jianjie-middle{
	width: 100%;
	height: 4rem;
}
.jianjie-middle p{
	font-size: 0.4rem;
	margin-left: 0.5rem;
	padding-top: 0.5rem;
	color: #858585;
}
.jianjie-bottom p{
	font-size: 0.4rem;
	margin-left: 0.5rem;
	padding-top: 0.5rem;
	color: #858585;
	letter-spacing:2px;
}
.jianjie-bottom{
	width: 100%;
	height: 4rem;
}
.footer{
	width: 100%;
	height: 3rem;
	border-top: 1px solid #DDDDDD;
	position: fixed;
	bottom: 0;
	display: flex;
	border-bottom: 1px solid #DDDDDD;
}
.footer-left{
	width: 50%;
	height: 3rem;
	border-right: 1px solid #DDDDDD;
}
.footer-left button{
	width: 100%;
	height: 3rem;
	background: none;
	font-size: 18px;
	letter-spacing: 1px;
	color: #858585;
	border: none;
}
.footer-right button{
	width: 100%;
	height: 3rem;
	background: none;
	font-size: 18px;
	letter-spacing: 1px;
	color: white;		
	border: none;
}
.footer-right{
	width: 50%;
	background: #fa474a;
	height: 3rem;

}
.daohang{
	width: 100%;
	height: 5rem;
	background: white;

}
.daohang-top{
	width: 100%;
	height: 1.5rem;
	
}
.mm{
	width: 100%;
	
}
.left-1{
	width: 50%;
	height: 3rem;
	margin-top: 0.8rem;
    border-bottom: 2px solid #fa474a;
}
.left-2{
	width: 50%;
	height: 3rem;
	margin-top: 0.8rem;

}
.daohang-bottom{
	display: flex;
}
.left-1 p{
	font-size: 20px;
	margin-left: 4rem;
	margin-top: 0.6rem;

}
.left-2 p{
	font-size: 20px;
	margin-left: 2rem;
	margin-top: 0.6rem;

}
.imde{
	margin-left: 9rem;
	width: 12%;
	height: 1.2rem;
	margin-top: -6rem;
}
.ju{
	width: 100%;
	height: 12rem;
	margin-top: 1rem;
}
.ju-1{
	width: 90%;
	height: 12rem;
	margin-left: 1.2rem;
}
.ju-1 img{
	width: 100%;
	height: 100%;
}
.xiang-2{
	width: 100%;
	height: 3rem;
	margin-top: -2rem;

}
.xiang-3{
	width: 100%;
	height: 3rem;
	margin-top: 3rem;

}
.xiang-3 span{
	margin-left: 1rem;

}
.xiang-3 p{
	margin-left: 4.4rem;
	margin-top: -0.5rem;
}
.xiang-2 span{
	margin-left: 1rem;

}
.xiang-2 p{
	margin-left: 4.4rem;
	margin-top: -0.5rem;
}
.pk12{
	margin-left: 4.2rem;
	margin-top: -0.7rem;
}
.xiang2{
	width: 100%;
	height: 40rem;
	margin-top: 3rem;
	
}
.pl{
	width: 100%;
	height: 10.5rem;
	
}
.pl-1{
	width: 80%;
	height: 10rem;
	margin-left: 4rem;
}
.pl-1 img{
	width: 100%;
	margin-top: -0.8rem;
}
.pl-2{
	width: 100%;
	height: 3rem;
	    border-bottom: 1px solid #DDDDDD;
}
.pl-2 img{
	width: 50%;
	float: right;
	margin-top: 0.5rem;
	margin-right: 0.8rem;
}
.ooooood{
	position: absolute;
	top: 0.7rem;
}
